.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  height: fit-content;
  margin: 1em;
}
.dropdownHorizontal {
  position: relative;
  display: grid;
  grid-template-columns:repeat (1fr 1fr);
  border: none;
  height: fit-content;
  margin: 1em;
 
}

.dropdownHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  cursor: pointer;
}



.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1em;
  min-height: 0;
}

.showHideContent {
  display: inline;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expandableSection {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all 200ms;
  margin-top: 0em;
}

.expandableSection.active {
  grid-template-rows: 1fr;
  margin-top: 1em;
}

@container (width <= 490px) {
  .items {
    grid-template-columns: 1fr;
  }
}
