.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  height: fit-content;
  margin: 10px;
}

.expanded li {
  max-height: 0px;
  padding: 0 3em;
  transition: all 50ms;
}

.dropdownActive li {
  max-height: 100vh;
  padding: 0.5em 3em;
}
