.menu {
  grid-column: 2 / span 1;
  container-type: inline-size;
}

.menuIcon {
  margin: 10px;
}

.menu h1 {
  font-size: 2em;
  font-weight: 1000;
  margin-bottom: 1em;
  padding: 0.75em 0.75em 0;
}

.menu h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: 0 1em;
}

.mobileDropdown {
  animation: dropdownOpening ease-in 500ms;
  max-height: 300px;
}

.mobileDropdownClosed {
  max-height: 0px;
  margin: 0 10px !important;
  transition: all 200ms;
  overflow: hidden;
}

@keyframes dropdownOpening {
  from {
    max-height: 0px;
  }

  to {
    max-height: 9999px;
  }
}

@container (width <= 990px) {
  .menu {
    grid-column: 1 / span 4;
    overflow: hidden;
    padding-top: 0em;
    overflow: visible;
    display: column;
    align-items: top;
    justify-conter: center;
    cursor: pointer;
    z-index: 999;
    transition: height 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: max-content;
  }

  .listContainer {
    padding-top: 20px;
    max-width: 100%;
    justify-content: flex-start;
    background: transparent;
    margin: 20px;
  }

  .button {
    background: transparent;
    width: 100%;
    border: none;
  }
}
