.errorWrapper {
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.errorWrapperText {
  font-size: 72px;
  font-weight: 1000;
  color: gray;
}
