.mapWrapper {
  grid-column: 1 / span 1;
  background-color: darkgray;
  container-type: inline;
}

@container (max-width: 990px) {
  .mapWrapper {
    grid-column: 1 / span 4;
  }
}

@container (max-width: 425px) {
  .mapWrapper {
    grid-column: 1 / span 4;
    max-height: 100%;
  }
}
